
body {
  font-family: sans-serif;
  background-image: url(vintage.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: 
}


/*_____________________________*/

.ppmt {
  position: fixed;
  z-index: 1;
  display: none;
  left: 30%;
  background-color: #ffffff;
  width: 500px;
  height: 235px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
}

.ppmt_tx {
  text-align: center;
  font-size: 30px;
}

#close1 {
  background-color: #e8e8e8;
  border-radius: 30px;
  border-style: none;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 15px;
  top: -20px;
  right: -20px;
  transition: .2s;
}

#close1:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}


#buttond1 {
  bottom: 0px;
}



#open1 {
  font-size: 15px;
  float: left;
  margin-left: 10px;
  border-radius: 10px;
  border-style: none;
  width: 130px;
  height: 130px;
  background-color: #e8e8e8;
}

#open1:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}

#open2 {
  font-size: 15px;
  position: absolute;
  left: 187px;
  border-radius: 10px;
  border-style: none;
  width: 130px;
  height: 130px;
  background-color: #e8e8e8;
}

#open2:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}

#open3 {
  font-size: 15px;
  float: right;
  margin-right: 10px;
  border-radius: 10px;
  border-style: none;
  width: 130px;
  height: 130px;
  background-color: #e8e8e8;
}

#open3:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}




/*_____________________________*/

.navbar {
  overflow: hidden;
  background-color: #ffffff;
}
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: .3s;
}
.navbar a:hover {
  background-color: #319BFF;
}


img {
  
}


.banjo {
  float: left;
  left: 0;
}

.guitar {
  float: right;
  right: 0;
}


.pic1 {
  width: 30%;
  height: 30%;
}

.Photos{
  color: black;
  font-size: 60px;
}
.farm{
  height: 23%;
  width: 50%;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #319BFF;
  color: #ffffff;
  bottom: -100000;
  padding: 0px;
}

footer a:hover {
  text-decoration: underline;
}

.footbr {
  line-height: 50%;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 5px;
  padding-left: 5px;
}

.small {
  font-size: 5px;
  color: #ffffff;
  cursor: pointer;
}

.facebook_button {
  background-color: #319BFF;
  border-style: none;
  border-radius: 30px;
  color: #ffffff;
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
}

.facebook_button:hover {
  background-color: #0067FF;
  color: 319BFF;
}
