body {
  font-family: sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: black;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: .3s;
}
.navbar a:hover {
  background-color: #666666;
  
footer {
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
    
}
  .foot {
   text-align: center;
   background-color: #000000;
   color: #222;
}
  .favbar_b {
    text-align: center;
    overflow: hidden;
  }
  .favbar_b a {
    text-align: center;
    color: #222;
    padding: 10px 20px;
    background-color: inherit;
  }

